<div id="content">
  <p class='clear'></p>

			<table class="admintable">
			  <tr class="admintablehd">
			    <td width="25%">Name</td>
			    <td>Email</td>
			    <td>Subject</td>
			    <td>Message</td>
			    <td>Date/time</td>
			    <td width="27%" style="text-align: center !important;">Action</td> 
			  </tr>
			
			<% @contacts.each do |contact| %>
			  <tr>
			    <td><%= link_to contact.name, admin_contact_path(contact) %></td>
				<td><%= contact.email %></td>
				
				<td><%= contact.subject %></td>
			    <td><%= truncate(contact.message, :length => 90) %></td>
			    <td><%= contact.created_at.strftime("%B %d, %Y,%X") %></td>
			    <td style="text-align: center !important;"> 
				<a href="/admin/contacts/<%= contact.id %>/delete" onclick="if(confirm('Are you sure you want to delete this contact?'))  return true;  else  return false;" class="button negative" >Delete</a>
				</td>
			    
			  </tr>
			<% end %>
			
			</table>
			
			<br />
</div>